body {
    font-family: 'Scheherazade New', serif;
    color: rgb(7, 7, 119);
    background-color: rgba(250, 250, 235, 0.308);
    font-size: 16px ;
    }
  
   section {
      padding: 50px;
    }
    
   h1 {
      font-size: 54px;
      color: goldenrod;
      text-align: center;
      font-family: 'Scheherazade New', serif;
    }
    h2 {
      font-size: 34px;
      color: goldenrod;
      text-align: center; 
      font-family: 'Scheherazade New', serif;
    }

    h3 {
      font-size: 34px;
      color: goldenrod;
      text-align: center; 
      font-family: 'Scheherazade New', serif;
    }
  
    header {
      text-align: center;
      font-family: 'Scheherazade New', serif;
      color: rgb(152, 153, 160)
    }
  
    #avisInput {
      width: 38vw; 
      height: 16vh;      
    }

    #avisList{
      font-size: 20px;
    }
    
    textarea {
      width: 38vw; 
      height: 16vh;  
    }

    #form {
      padding: 50px;
      width: 38vw; 
      height: 16vh;
      font-size: 16px;
    }

    .bold {
      font-weight: bold;
    }
  
    @media only screen and (max-width: 600px) {
      body {
        background-color: white;
      }
    }

    form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 0 auto;
      width: 400px;
      border: 1px solid #CCC;
      border-radius: 1em;
      
    }
    
    form div + div {
      margin-top: 1em;
    }
    
    label {
      /* Pour être sûrs que toutes les étiquettes ont même taille et sont correctement alignées */
      width: 80%;
      margin-left: 10%;
    }
    
    
    input:focus, textarea:focus {
      /* Pour souligner légèrement les éléments actifs */
      border-color: #000;
    }
   button {
     padding: 12px;
     margin-left: 10%;
     background-color: ivory;
     color: goldenrod
     
   }
   #image-button{
     background: ivory url('logonew.png') no-repeat top left;
     padding-left: 10px;
     height: 100px;
     width: 160px;
   }

   input, textarea {
    /* Pour s'assurer que tous les champs texte ont la même police.
       Par défaut, les textarea ont une police monospace */
    font: 1em sans-serif;
    /* Pour que tous les champs texte aient la même dimension */
    width: 80%;
    margin-left: 10%;
    /* Pour harmoniser le look & feel des bordures des champs texte */
    border: 1px solid #999;
    
  }