*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  
 
}
.menu{
  background-color: skyblue;
  position: fixed;
  width: 100%;
}
.menu nav{
 
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  display: flex;
}
.logo img{
	width: 	50px;
	height: 50px;
	
}

.logo {
	margin-left: 50px;
}
nav .menu-nav .navbar{
  margin-left: 80px;
  display: flex;
}
nav .menu-nav{
  display: flex;
  align-items: center;
}
.menu-nav .logo a{
  color: white;
  font-size: 30px;
  font-weight: 600;
}
.menu-nav .navbar li{
  list-style: none;
  line-height: 70px;
}
.menu-nav .navbar li a,
.menu-nav .navbar li label{
  color: white;
  font-size: 18px;
  font-weight: 500;
  padding: 10px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu-nav .navbar li a {
 padding: 20px 60px;	
	
}
.menu-nav .navbar li label{
  display: none;
}
.menu-nav .navbar li a:hover,
.menu-nav .navbar li label:hover{
  background-color: aliceblue;
}

.menu .menu-icon{
  color: white;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.menu .menu-icon{
  display: none;
}

.menu input[type="checkbox"]{
  display: none;
}

.menu-nav .navbar ul{
  position: absolute;
  background-color: skyblue;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.menu-nav .navbar li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.menu-nav .navbar ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.menu-nav .navbar ul ul{
  position: absolute;
  top: 0;
  
}
.menu-nav .navbar ul li{
  position: relative;
}
.menu-nav .navbar ul li:hover ul{
  top: 0;
}


@media screen and (max-width: 900px){
  .menu .menu-icon{
    display: block;
  }
	
	.menu nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .menu-nav .navbar{
    margin-left: 30px;
  }
  .menu-nav .navbar li a{
    padding: 8px 13px;
  }
 
  nav .menu-nav .navbar{
    display: block;
    position: fixed;
    background-color: skyblue;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.8s ease;
  }
  nav #btn-menu:checked ~ .menu-nav .navbar{
    left: 0%;
  }
  .menu-nav .navbar li{
    margin: 15px 20px;
  }
  .menu-nav .navbar li a,
  .menu-nav .navbar li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 10px px;
    cursor: pointer;
  }
  .menu-nav .navbar li a.menu-link{
    display: none;
  }
 
  .menu-nav .navbar ul,
  .menu-nav .navbar ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .menu-nav .navbar #link-arme:checked ~ ul,
  .menu-nav .navbar #link-hotel:checked ~ ul{
    max-height: 100%;
  }
  .menu-nav .navbar ul li{
    margin: 8px 20px;
  }
  .menu-nav .navbar ul li a{
    font-size: 20px;
    line-height: 30px;
    border-radius: 5px;
  }
}
@media screen and (max-width: 400px){
  .menu nav{
    padding: 0 10px;
  }
  .menu-nav .logo a{
    font-size: 25px;
  }
  
}
