#container_slider {
    width: 80vw;
    overflow: hidden;
    margin-left: 10vw;
}

#slider {
    width: 80vw;
    display: flex;
    position: relative;
    left: 0;
    transition: left 1s ease-in-out;
}

.slide {
    width: 80vw;
}

.image {
    width: 80vw;
    max-height: 50vw;
}

#description {
    width: 100vw;
    text-align: center;
}

#description > h2 {
    font-size: 2.5rem;
}

#description > .container_page_description {
    text-align: left;
}

#description > .container_page_description > .page_desciption {
    right: -100vw;
    font-size: 1.2em;
    padding-left: 16px;
}


.type_weapons {
    padding-left: 1.5em;
    margin: 5rem 0;
}

.weapons {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.weapon_card {
    width: 20em;
    max-width: 80vw;
    height: auto;
    margin-bottom: 5vh;
    margin-right: 2vw;
    border: 1px solid blue;
    border-radius: 5px;
}

.weapon_image {
    width: 100%;
    height: auto;
    border: 1px solid blue;
    border-radius: 5px;
    transition: transform 0.6s ease-in-out;
}

.weapon_image:hover {
    transform: scale(1.5);
}

.weapon_description {
    padding-left: 1em;
    line-height: 1.5em;
}

.name_weapon {
    font-weight: bold;
    font-size: 1.5rem;
    text-decoration: underline;
}